DATABASE_URL=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_STARTUP_LOGO_IMGS_BUCKET_NAME=
S3_INVESTORS_LOGO_IMGS_BUCKET_NAME=
S3_EXPERTS_LOGO_IMGS_BUCKET_NAME=
S3_STARTUP_PITCH_DECK_FILES_BUCKET_NAME=
S3_STARTUP_COUNTRY_FLAGS=
S3_ORGANIZATIONS_IMGS_BUCKET_NAME=
S3_USERS_IMGS_BUCKET_NAME=
S3_EXTERNAL_PAGE_SETTINGS=
S3_SGL_EBOOKS=
S3_REGION=

NEXT_PUBLIC_API_BASE_URL=

AUTH_SECRET=
